@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&family=Poppins:wght@300;400;500;600&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --base-fontFamily     : 'Poppins', sans-serif;
    --base-fontSize       : 16px;
    --base-lineheight     : 1.5;
    --base-color          : #0A1A4B;
    --base-font-weight    : 400;

    --white-color         : #FFFFFF;
    --blue-color          : #0A1A4B;
    --grey-color          : #444444;
    --light-grey          : #D3D3D3;
    --red-color           : #D72F50;
    --button-bg           : #D84353;
    --font-nunito         : 'Nunito Sans', sans-serif;
    --button-font-size    : 16px;
    --brand-blue          : #162D73;

    --font-weight-300     : 300;   
    --font-weight-400     : 400;
    --font-weight-500     : 500;
    --font-weight-600     : 600; 

    --h1-font-size        : 48px;
    --h2-font-size        : 40px;
    --h3-font-size        : 30px;
    --h4-font-size        : 20px;
    --h5-font-size        : 18px;
    --h6-font-size        : 16px;

    --paragraph-font-size : 16px;

    --align-center        : center;
    --align-left          : left;
    --align-right         : right;
  }

  
body {
    font-family: var(--base-fontFamily);
    font-size: var(--base-fontSize);
    font-weight: var(--base-font-weight);
    line-height: var(--base-lineheight);
    color: var(--base-color);
    text-align: var(--align-left);
    background-color: var(--white-color);
    width:100%;
    font-style: normal;
    overflow-x: hidden;
    /* max-width:1440px;
    margin:0 auto; */
  }

.base-button {
    font-family: var(--font-nunito);
    background-color:var(--button-bg);
    text-align: var(--align-center );
    font-weight:var(--font-weight-600);
    font-size:var(--button-font-size);
    color:var(--white-color);
    display:inline-block;
    position: relative;
    overflow: hidden;
    outline: 0;
    line-height:21.82px;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    border-radius:4px;
    padding:14px 50px;
    text-decoration: none;
    border:none;
  }
  .base-button:hover {
      color:var(--white-color);
      background-color: rgb(216 67 83 / 71%);
  }
.blue-hover.base-button:hover {
   background-color:var(--blue-color);
}
a {
    -webkit-transition: all 0.3s ease-in-out 0s;
     transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
  }

.align-center {
    text-align: var(--align-center);
}
.align-left {
    text-align: var(--align-left);
}
.align-right {
    text-align: var(--align-right);
}
h1,h2,h3,h4,h5,h6 {
    margin:0px 0px 15px 0px;
}
h1 {
    font-size:var(--h1-font-size);
    font-weight:var(--font-weight-600);
    color:var(--blue-color);
    line-height:72px;
}
h2 {
    font-size:var(--h2-font-size);
    font-weight:var(--font-weight-600);
    color:var(--blue-color);
    line-height:60px;
}
h3 {
    font-size:var(--h3-font-size);
    font-weight:var(--font-weight-600);
    color:var(--brand-blue );
    line-height:45px;
}
h4 {
    font-size:var(--h4-font-size);
    font-weight:var(--font-weight-600);
    color:var(--blue-color);
    line-height:30px;
}
h5 {
    font-size:var(--h5-font-size);
    font-weight:var(--font-weight-400);
    color:var(--brand-blue );
    line-height:28.8px;
}
h6 {
    font-size:var(--h6-font-size);
    font-weight:var(--font-weight-400);
    color:var(--brand-blue );
    line-height:20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
html body textarea,
.form-control:focus {
    background: #1F3578;
    border: 1px solid rgba(255, 255, 255, 0.16);
    box-sizing: border-box;
    border-radius: 2px;
    font-family: var(--font-nunito);
    font-weight: var(--font-weight-300);
    font-size:15px;
    line-height: 22.5px;
    color:var(--light-grey);
    outline:none;
    box-shadow:none;
    -webkit-box-shadow:none;
    padding:15.3px 24px;
    max-width: 465px;
    margin: 0 0 auto auto;
}
.form-control:focus {
    border: 1px solid rgba(255, 255, 255, 0.5);
}
form .form-group:not(:last-child) {
    margin-bottom: 30px;
}
form .form-group textarea {
    min-height: 225px;
    max-height: 225px;
    max-width: 456px;
    width: 100%;
}

p,
ul li,
ol li {
    font-size:var(--paragraph-font-size);
    font-weight:var(--font-weight-400);
    color:var(--grey-color);
    line-height: 25.6px;
}
ul,ol {
    list-style-type: disc;
    padding:0;
    margin:0;
}

.blue-checkmark h5,
.yellow-checkmark h5,
.red-checkmark h5{
    position: relative;
    z-index:1;
}
.blue-checkmark h5,
.yellow-checkmark h5,
.red-checkmark h5 {
    padding-left: 40px;
}
.blue-checkmark h5::before,
.yellow-checkmark h5::before,
.red-checkmark h5::before {
    content: '';
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    transform:translateY(-50%);
    left:0;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width:20px;
    height:20px;
}
.blue-checkmark h5::before {
    background-image: url(../assets/Blue-Checkmark.svg);
}
.yellow-checkmark h5::before {
    background-image: url(../assets/Yellow-Check.svg);
}
.red-checkmark h5::before {
    background-image: url(../assets/Red-Chekmark.svg);
}
.card-style {
    background: rgba(22, 45, 115, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}
.section-bg {
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*== Navbar Styling ==*/

  nav.navbar {
    padding: 30px 0px;
    position: absolute;
    left:0;
    right:0;
    top:0;
    z-index:2;
}

/*== Banner Styling ==*/
.banner-section {
    z-index:1;
    padding:218px 0px 170px;
}
.banner-section:before,
.banner-section:after {
    content: '';
    position:absolute;
    top:0;
    bottom:0;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    z-index:-1;
}
.banner-section:before {
    background-image:url(../assets/Ellipse_1.svg);
    left:0;
    width:100%;
}
.banner-section:after {
    background-image: url(../assets/Ellipse_2.svg);
    right:0;
    width:100%;
}
.banner-section .heading {
    max-width: 500px;
}
.banner-section .right-col {
    min-height: 335px;
}
.banner-section .right-col .image {
    min-height: 520px;
    max-width: 643px;
    width:100%;
    max-width:1000px;
}

/* @media (min-width:1450px){
    .banner-section {
        padding-bottom:400px;
    }
} */
@media(min-width:768px){
    .banner-section .right-col .image {
        position: absolute;
        right: 0;
        top: 50%;
        width:44.7%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
    }
}
@media (min-width:1200px) {
    .banner-section .left-col {
        max-width: 530px;
        margin: 0 auto;
    }    
    .machine-learning .col-md-7.right-col .col-md-10 {
        padding-left: 20px;
    }
}

/*== Popup Banner Styling ==*/
section.popup-banner {
    width: 85.5%;
    max-width: 1230px;
    margin: 0 auto;
    background: linear-gradient(91.78deg, rgb(22 45 115 / 24%) 0.19%, rgba(216, 67, 83, 0.24) 99.8%);
    border-radius: 8px;
    padding:1px;
    position: relative;
    z-index: 3;
    margin-top: -14px;
    border:none;
    margin-bottom:160px;
    transition:.3s all ease-in-out 0s;
    -webkit-transition:.3s all ease-in-out 0s;
    -moz-transition:.3s all ease-in-out 0s;
}
section.popup-banner .close-icon img {
    background: #fff;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}
section.popup-banner>.row {
    background: #fff;
    padding: 1em 10px;
    border-radius: 8px;
    margin: 0px;
}
section.popup-banner .right-col p {
    font-size: 13px;
    line-height: 22px;
}
section.popup-banner .two-col img {
    max-width: 60px;
    height: 60px;
    margin-right: 24px;
}
section.popup-banner .two-col h6 {
    font-weight: var(--font-weight-500);
    line-height: 24px;
    color:var(--blue-color);
}
section.popup-banner>.row .col-md-9.right-col {
    padding-left: 0;
}
section.popup-banner .close-icon {
    position: absolute;
    top: -12px;
    right: -9px;
    cursor: pointer;
}

/*== Section 2 (Machine learning) Styling ==*/
.machine-learning {
    z-index:1;
    padding:85px 0px 64px;
    margin-top:160px;
    margin-bottom:160px;
}
.machine-learning::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
    background: var(--brand-blue);
    opacity: 0.04;
}
.machine-learning .right-col h4 {
    margin-bottom: 10px;
}
.machine-learning .right-col ul {
    padding-left: 31px;
    max-width:445px;
}
.machine-learning .col-md-7.right-col {
    max-width: 600px;
    margin: 0 auto;
}
.machine-learning .col-md-7.right-col img {
    width: 100%;
    max-width:72px;
}

/*== Section 3(Red BG) Styling ==*/
section.red-bg .redBG {
    background-color:var(--red-color);
    border-radius: 16px;
    padding:91px 0px 106px;
    margin-bottom:50px;
}
section.red-bg h2 {
    color:var(--white-color);
    margin-bottom:10px;
}
section.red-bg h5 {
    color: var(--light-grey);
    font-weight: var(--font-weight-500);
    max-width:376px;
}
section.red-bg .contents {
    max-width: 416px;
}
section.red-bg img.img-fluid {
    max-width: 425px;
    width:90%;
}

/*== Section 3(Why Section) Styling ==*/
section.why-sec {
    padding: 109px 0px 100px;
}
section.why-sec .card-style {
    margin-top: 60px;
}
section.why-sec .card-style img {
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width:360px;
}
section.why-sec .card-style .list-item:before{
    content:'';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    border-left: 1px solid rgba(0, 0, 0, 0.04);
    left:0;
    background-color:#fff;
    z-index:-1;
}
section.why-sec .card-style.reverse-sec .list-item:before {
    border-left:none;
    border-right: 1px solid rgba(0, 0, 0, 0.04);
}
section.why-sec .list-item .heading,
section.why-sec .list-item .blue-checkmark,
section.why-sec .list-item .yellow-checkmark,
section.why-sec .list-item .red-checkmark {
    max-width: 742px;
    margin: 0 auto;
    width:100%;
}
section.why-sec .list-item h5 {
    max-width: 654px;
    margin-bottom:17px;
}
section.why-sec .list-item .heading {
    padding-bottom: 10px;
}

/*== Contact Us Section Styling ==*/

.contact-us {
    z-index:1;
    background-color:var(--brand-blue);
    padding:120px 0px 238px;
    margin-top:80px;
}
.contact-us::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/Footer-Particles.svg);
    z-index:-1;
}
.contact-us .heading h2 {
    color:var(--white-color);
    margin-bottom:10px;
}
.contact-us .heading h5 {
    color:var(--light-grey);
    font-weight: var(--font-weight-300);
}
.contact-us .form {
    max-width: 936px;
    margin: 0 auto;
    width: 100%;
    margin-top:62px;
}
.contact-us .form .form-button {
    margin-top: 35px;
}

/*== Footer Section Styling ==*/
.footer {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    border-top: 1px solid rgb(47 120 196 / 24%);
    z-index:2;
    padding:40px 0px 40px;
}
.footer p {
    font-family:var(--font-nunito);
    color: var(--light-grey);
    font-weight: var(--font-weight-300);
    font-size: 14px;
    line-height: 21px;
    margin-bottom:0px;
}

/*====================================================================
================= TAB Responsive Styling =============================
====================================================================*/

@media (min-width:768px) and (max-width:1024px){
    h1 {
        font-size:40px;
        line-height: 60px;
    }
    h2 {
        font-size:32px;
        line-height: 48px;
    }
    h5 {
        font-size:16px;
    }
    section.popup-banner {
        width: 94%;
    }
    section.popup-banner>.row {
        padding-left:0px;
        padding-right:0px;
    }
    section.popup-banner>.row .col-md-9.right-col {
        padding-left:calc(var(--bs-gutter-x) * .5);
    }
    section.popup-banner .two-col img {
        margin-right:10px;
    }
    section.red-bg img.img-fluid {
        max-width: 425px;
        width: 90%;
    }
    section.red-bg .redBG {
        width:97%;
    }
    section.why-sec .list-item .heading, 
    section.why-sec .list-item .blue-checkmark, 
    section.why-sec .list-item .yellow-checkmark, 
    section.why-sec .list-item .red-checkmark {
        max-width:90%;
    }
    section.why-sec {
        padding-bottom:40px;
        padding-top:50px;
    }
    .contact-us {
        padding: 90px 0px 200px;
    }
    .col-md-8.list-item {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .machine-learning {
        margin-bottom:100px;
    }
}

@media (max-width:1270px){
    section.red-bg .container.redBG {
        width: 97.8%;
    }
}

/*====================================================================
================= MOBILE Responsive Styling =============================
====================================================================*/

@media (max-width:767px) {
    h1 {
        font-size: 28px;
        line-height: 42px;
        text-align: center;
    }
    h2 {
        font-size: 28px;
        line-height: 42px;
    }
    h3 {
        font-size: 20px;
        line-height: 30px;
    }
    h5 {
        font-size: 14px;
        line-height: 22.4px;
    }
    .blue-checkmark h5::before, 
    .yellow-checkmark h5::before, 
    .red-checkmark h5::before {
        width:14px;
        height:14px;
    }
    .blue-checkmark h5, 
    .yellow-checkmark h5, 
    .red-checkmark h5 {
        padding-left: 22px;
    }
    nav.navbar {
        padding: 15px 0px;
    }
    .navbar-brand img {
        max-width: 100px;
    }
    .banner-section .heading {
        max-width: 312px;
        margin: 0 auto;
        width: 100%;
        padding-bottom:16px !important;
    }
    .banner-section .right-col .image {
        min-height: 352px;
        background-image:url(../assets/Banner-animation-mobile.svg) !important;
    }
    .hero-button {
        text-align: center;
    }
    .banner-section:before {
        background-image: url(../assets/Mobile-Ellipse_1.svg);
    }
    .banner-section:after {
        background-image: url(../assets/Mobile-Ellipse_2.svg);
    }
    section .container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .banner-section {
        padding: 88px 0px 59px;
    }
    .banner-section .right-col .hero-button {
        padding-top: 54px;
    }
    section.popup-banner {
        margin:0px;
    }
    section.popup-banner {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
    }
    .machine-learning {
        margin-top:0px;
        padding:33px 0px 33px;
        margin-bottom:78px;
    }
    .machine-learning .left-col img.img-fluid {
        max-width: 312px;
    }
    .machine-learning .right-col>.row>.col-md-2 {
        margin-bottom: 16px;
    }
    .machine-learning .right-col h4 {
        margin-bottom: 7px;
    }
    .machine-learning .right-col ul li {
        margin-bottom: 3px;
    }
    .machine-learning .right-col .row {
        margin-bottom: 5px;
    }
    .machine-learning .right-col {
        padding-top: 57px;
    }
    .machine-learning .left-col .heading {
        padding-bottom: 10px;
    }
    section.red-bg .container.redBG>.row {
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
    }
    section.red-bg h2 {
        margin-bottom:0px;
    }
    section.red-bg .contents {
        max-width: 280px;
        margin: 0px 17px;
        padding-bottom:10px;
    }
    section.red-bg .container.redBG {
        width: 86.8%;
        padding: 24px 0px 34px;
    }
    section.why-sec {
        padding: 31px 0px 0px;
    }
    section.why-sec .card-style img {
        max-width: 312px;
        margin: 0 auto;
    }
    input[type="text"], 
    input[type="password"], 
    input[type="email"], 
    input[type="tel"], 
    html body textarea, 
    .form-control:focus {
        max-width:100%;
    }
    section.why-sec .list-item .heading, 
    section.why-sec .list-item .blue-checkmark, 
    section.why-sec .list-item .yellow-checkmark,
    section.why-sec .list-item .red-checkmark {
        padding: 0px 18px;
    }
    section.why-sec .card-style {
        margin-top: 30px;
        padding-bottom: 8px;
        padding-top:11px;
    }
    .card-style.reverse-sec .row.align-items-stretch {
        flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
    }
    section.why-sec .card-style .list-item:before {
        border-top: 1px solid rgba(0, 0, 0, 0.04);
        border-left:none;
        border-right:none;
        left:11px;
        right:11px;
    }
    section.why-sec .card-style.reverse-sec .list-item:before {
        border-right:none;
    }
    section.why-sec .list-item {
        padding-top: 19px;
    }
    section.why-sec .heading h2 {
        padding-bottom: 10px;
    }
    section.why-sec .list-item .heading h3 {
        padding-bottom: 2px;
    }
    .contact-us {
        padding: 41px 0px 180px;
        margin-top: 80px;
    }
    .contact-us .form {
        margin-top: 40px;
    }
    .contact-us .heading h2 {
        margin-bottom: 3px;
    }
    form .form-group:not(:last-child),
    form .form-group {
        margin-bottom: 15px;
    }
    form .form-group textarea {
        min-height: 126px;
        max-height: 126px;
        max-width: 100%;
      }
    .contact-us .form .row.mb-5 {
        margin-bottom: 17px !important;
    }
    .contact-us .form .form-button {
        margin-top: 0px;
    }
    .footer {
        padding: 24px 0px 39px;
    }
    .footer p {
        font-size: 12px;
        line-height: 18px;
    }
    .contact-us::before {
        background-image: url(../assets/Mobile_Footer_particles.svg);
    }
    section.popup-banner::before {
        content: '';
        position: fixed;
        top: -400%;
        left: -100%;
        right: -100%;
        bottom: -400%;
        background: #000;
        z-index: -1;
        opacity: .5;
    }
    section.popup-banner .right-col p {
        text-align:center;
        padding-top: 22px;
        max-width: 264px;
        margin: 0 auto;
        width:100%;
    }
    section.popup-banner>.row {
        padding: 23px 10px;
    }
}